* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #023047;
  color: #050505;
  font-size: 100%;
}

#back_to_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  font-size: 1.25rem;
  background-color: #055c87;
  box-shadow: 0 4px 8px 0 black;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s;
}

#back_to_top:active {
  transform: scale(0.8);
}


.main-title {
  font-size: calc(1.5rem + 2vw);
  color: white;
  text-align: center;
  margin: 24px 0;
  text-shadow: 0 6px 8px black;
}

.posts-list {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.posts-list > * {
  margin-bottom: 24px;
}

.post { 
  padding: 16px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 black;
}

.post__header {
  margin-bottom: 16px;
}

.post-meta {
  display: flex;
}

.post-meta__icon {
  margin-right: 24px;
}

.post-meta__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-meta__author {
  font-weight: bold;
}

.post-meta__time {
  font-size: 0.8rem;
}

.profile-pic {
  border-radius: 50%;
  max-width: 60px;
}

.profile-pic-default {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #055c87;
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic-default span {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.post__text {
  margin-bottom: 16px;
}

.post__image {
  margin-bottom: 16px;
}

.post__image img {
  width: 100%;
}

.likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.likes > * {
  text-align: center;
}

.like-button {
  display: inline-block;
  padding: 16px;
  border-radius: 8px;    
  text-decoration: none;
  color: #404040;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.like-button:hover {
  background-color: #e3e3e3
}

.like-button:active {
  transform: scale(0.8);
}

.like-button__label {
  font-weight: bold;
}

.like-button--liked {
  color: #055c87;
  cursor: pointer;
}

.likedcounter {
  display: inline-block;
  animation: grow 0.6s;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}